In [2]:
import pandas as pd
f1 = pd.read_excel(r'C:\codebaitappython\python-pandas\testpandas.xlsx')
f1['DTB']=(f1['Toán']+f1['Lý']+f1['Hóa']+f1['Văn']+f1['Sử']+f1['Địa'])/6 
f1.to_excel(r'C:\codebaitappython\python-pandas\testpandas_edit.xlsx')
print(f1)

   STT       Họ Tên   Toán  Lý  Hóa  Văn  Sử  Địa       DTB
0    1  nguyễn văn a     6   7    8    9   6    7  7.166667
1    2  nguyễn văn B     6   7    4    3   5    9  5.666667
2    3  nguyễn văn C     8   5    8    5   4    5  5.833333
3    4  nguyễn văn D     9   5    8    4   5    5  6.000000
4    5  nguyễn văn E     7   5    6    8   9    8  7.166667